.css_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: left;}
.css_data_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: left;}
.css_anexo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_anexo_grid_line {text-align: left;}
