.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_opepre__label { }
.css_id_opepre__line {text-align:left;}
.css_id_opepre__obj {text-align:left;}
.css_id_empreendimento__label { }
.css_id_empreendimento__line {text-align:left;}
.css_id_empreendimento__obj {text-align:left;}
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
.css_id_usuario__label { }
.css_id_usuario__line {text-align:left;}
.css_id_usuario__obj {text-align:left;}
.css_desc__label { }
.css_desc__line { }
.css_desc__obj { }
.css_data__label { }
.css_data__line { }
.css_data__obj { }
.css_id_inconformidade__label { }
.css_id_inconformidade__line {text-align:left;}
.css_id_inconformidade__obj {text-align:left;}
