.css_id_operadoras_label { }
.css_id_operadoras_line {text-align:left;}
.css_id_operadoras_obj {text-align:left;}
.css_nom_operadoras_label { }
.css_nom_operadoras_line { }
.css_nom_operadoras_obj { }
.css_num_cnpj_label {width:300px;}
.css_num_cnpj_line { }
.css_num_cnpj_obj { }
.css_nom_email_label { }
.css_nom_email_line { }
.css_nom_email_obj { }
.css_num_telefonecomercial_label {width:300px;}
.css_num_telefonecomercial_line { }
.css_num_telefonecomercial_obj { }
.css_end_logradouro_label { }
.css_end_logradouro_line { }
.css_end_logradouro_obj { }
.css_end_numero_label { }
.css_end_numero_line {text-align:left;}
.css_end_numero_obj {text-align:left;}
.css_end_complemento_label { }
.css_end_complemento_line { }
.css_end_complemento_obj { }
.css_end_bairro_label { }
.css_end_bairro_line { }
.css_end_bairro_obj { }
.css_end_cidade_label { }
.css_end_cidade_line { }
.css_end_cidade_obj { }
.css_end_uf_label { }
.css_end_uf_line { }
.css_end_uf_obj { }
.css_end_cep_label { }
.css_end_cep_line { }
.css_end_cep_obj { }
.css_num_totvs_label { }
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_img_logo_label { }
.css_img_logo_line { }
.css_img_logo_obj { }
.css_num_status_label {width:300px;}
.css_num_status_line { }
.css_num_status_obj { }
.css_simplesnacional_label { }
.css_simplesnacional_line { }
.css_simplesnacional_obj { }
.css_contribuicoesfederais_label { }
.css_contribuicoesfederais_line { }
.css_contribuicoesfederais_obj { }
.css_contatosframe_label { }
.css_contatosframe_line { }
.css_contatosframe_obj { }
.css_excecoesframe_label { }
.css_excecoesframe_line { }
.css_excecoesframe_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_tecnicosframe_label { }
.css_tecnicosframe_line { }
.css_tecnicosframe_obj { }
