.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_condomino__label { }
.css_id_condomino__line {text-align:left;}
.css_id_condomino__obj {text-align:left;}
.css_id_operadora_vende__label { }
.css_id_operadora_vende__line {text-align:left;}
.css_id_operadora_vende__obj {text-align:left;}
.css_id_operadora_entrega__label { }
.css_id_operadora_entrega__line {text-align:left;}
.css_id_operadora_entrega__obj {text-align:left;}
.css_criado_em__label { }
.css_criado_em__line { }
.css_criado_em__obj { }
.css_alterado_em__label { }
.css_alterado_em__line { }
.css_alterado_em__obj { }
.css_removido_em__label { }
.css_removido_em__line { }
.css_removido_em__obj { }
.css_num_ativo__label { }
.css_num_ativo__line { }
.css_num_ativo__obj { }
