.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_empreendimento__label { }
.css_id_empreendimento__line {text-align:left;}
.css_id_empreendimento__obj {text-align:left;}
.css_nom_nome__label { }
.css_nom_nome__line { }
.css_nom_nome__obj { }
.css_localizacao__label { }
.css_localizacao__line { }
.css_localizacao__obj { }
.css_capacidade__label { }
.css_capacidade__line {text-align:left;}
.css_capacidade__obj {text-align:left;}
.css_totalposicoes__label { }
.css_totalposicoes__line { }
.css_totalposicoes__obj { }
.css_addposicao__label { }
.css_addposicao__line { }
.css_addposicao__obj { }
.css_addfile__label { }
.css_addfile__line { }
.css_addfile__obj { }
