.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_shafts__label { }
.css_id_shafts__line {text-align:left;}
.css_id_shafts__obj {text-align:left;}
.css_id_operadora__label { }
.css_id_operadora__line {text-align:left;}
.css_id_operadora__obj {text-align:left;}
.css_nom_nome__label { }
.css_nom_nome__line { }
.css_nom_nome__obj { }
.css_num_contrato__label { }
.css_num_contrato__line {text-align:left;}
.css_num_contrato__obj {text-align:left;}
.css_valor_contrato__label { }
.css_valor_contrato__line {text-align:left;}
.css_valor_contrato__obj {text-align:left;}
.css_fimvigencia__label { }
.css_fimvigencia__line { }
.css_fimvigencia__obj { }
.css_iniciovigencia__label { }
.css_iniciovigencia__line { }
.css_iniciovigencia__obj { }
.css_addfile__label { }
.css_addfile__line { }
.css_addfile__obj { }
