.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_supervisaotecnicacomercial_label {width:300px;}
.css_supervisaotecnicacomercial_line {text-align:left;}
.css_supervisaotecnicacomercial_obj {text-align:left;}
.css_supervisaotecnicaforacomercial_label { }
.css_supervisaotecnicaforacomercial_line {text-align:left;}
.css_supervisaotecnicaforacomercial_obj {text-align:left;}
.css_supervisaotecnicafdsferiado_label { }
.css_supervisaotecnicafdsferiado_line {text-align:left;}
.css_supervisaotecnicafdsferiado_obj {text-align:left;}
.css_deslocamento_label { }
.css_deslocamento_line {text-align:left;}
.css_deslocamento_obj {text-align:left;}
.css_analiseprojeto_label { }
.css_analiseprojeto_line {text-align:left;}
.css_analiseprojeto_obj {text-align:left;}
.css_adicionalnoturno_label { }
.css_adicionalnoturno_line {text-align:left;}
.css_adicionalnoturno_obj {text-align:left;}
.css_horarioinicioadicionalnoturno_label { }
.css_horarioinicioadicionalnoturno_line { }
.css_horarioinicioadicionalnoturno_obj { }
.css_horariofimadicionalnoturno_label { }
.css_horariofimadicionalnoturno_line { }
.css_horariofimadicionalnoturno_obj { }
