.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_centrodecusto__label { }
.css_centrodecusto__line {text-align:left;}
.css_centrodecusto__obj {text-align:left;}
.css_num_ativo__label { }
.css_num_ativo__line { }
.css_num_ativo__obj { }
.css_criado_em__label { }
.css_criado_em__line { }
.css_criado_em__obj { }
.css_alterado_em__label { }
.css_alterado_em__line { }
.css_alterado_em__obj { }
.css_removido_em__label { }
.css_removido_em__line { }
.css_removido_em__obj { }
