.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nom_conjunto__label { }
.css_nom_conjunto__line { }
.css_nom_conjunto__obj { }
.css_id_andar__label { }
.css_id_andar__line {text-align:left;}
.css_id_andar__obj {text-align:left;}
.css_ocupado__label { }
.css_ocupado__line { }
.css_ocupado__obj { }
