.css_tb_infoprestadores_img_logo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_img_logo_grid_line {vertical-align: top;text-align: center;}
.css_tb_prestadores_nom_razaosocial_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_prestadores_nom_razaosocial_grid_line {vertical-align: top;text-align: right;}
.css_tb_prestadores_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_prestadores_num_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_tb_infoprestadores_nom_email1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_nom_email1_grid_line {vertical-align: top;text-align: right;}
.css_tb_infoprestadores_num_telefone1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_num_telefone1_grid_line {vertical-align: top;text-align: right;}
.css_tb_prestadores_id_prestador_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_prestadores_id_prestador_grid_line {vertical-align: top;text-align: right;}
.css_tb_infoprestadores_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_id_grid_line {vertical-align: top;text-align: right;}
.css_tb_infoprestadores_id_prestador_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_id_prestador_grid_line {vertical-align: top;text-align: right;}
.css_tb_infoprestadores_id_operadora_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_infoprestadores_id_operadora_grid_line {vertical-align: top;text-align: right;}
