.css_tb_tecsae_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_tecsae_id_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_id_opepre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_id_opepre_grid_line {vertical-align: top;text-align: left;}
.css_nom_tecnicocompleto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_tecnicocompleto_grid_line {vertical-align: top;text-align: left;}
.css_tb_tecnicos_data_ativacao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_data_ativacao_grid_line {vertical-align: top;text-align: left;}
.css_tb_tecnicos_num_rg_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_num_rg_grid_line {vertical-align: top;text-align: left;}
.css_tb_tecnicos_num_telefone1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_num_telefone1_grid_line {vertical-align: top;text-align: left;}
.css_remover_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_remover_grid_line {text-align: center;}
