.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_tipo_op_label { }
.css_tipo_op_line { }
.css_tipo_op_obj { }
.css_id_op_label { }
.css_id_op_line {text-align:left;}
.css_id_op_obj {text-align:left;}
.css_qtdhorasap_label {width:300px;}
.css_qtdhorasap_line {text-align:left;}
.css_qtdhorasap_obj {text-align:left;}
.css_qtdpercst_label { }
.css_qtdpercst_line {text-align:left;}
.css_qtdpercst_obj {text-align:left;}
.css_qtddiaspag_label { }
.css_qtddiaspag_line {text-align:left;}
.css_qtddiaspag_obj {text-align:left;}
.css_qtdhorasfixasap_label { }
.css_qtdhorasfixasap_line {text-align:left;}
.css_qtdhorasfixasap_obj {text-align:left;}
