.css_foto_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_foto_grid_line {vertical-align: top;text-align: center;}
.css_nom_tecnico_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_tecnico_grid_line {vertical-align: top;text-align: right;}
.css_num_rg_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_rg_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_num_telefone1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_num_telefone1_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_num_telefone2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_num_telefone2_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_id_opepre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_id_opepre_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_data_ativacao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_data_ativacao_grid_line {vertical-align: top;text-align: right;}
.css_tb_tecnicos_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tecnicos_num_ativo_grid_line {vertical-align: top;text-align: right;}
