.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_descricao_label {width:300px;}
.css_descricao_line { }
.css_descricao_obj { }
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_jsonimagemdescricao_label { }
.css_jsonimagemdescricao_line { }
.css_jsonimagemdescricao_obj { }
.css_anexos_label {width:300px;}
.css_anexos_line { }
.css_anexos_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
