.css_id_projeto_label { }
.css_id_projeto_line {text-align:left;}
.css_id_projeto_obj {text-align:left;}
.css_id_tipoprojeto_label { }
.css_id_tipoprojeto_line {text-align:left;}
.css_id_tipoprojeto_obj {text-align:left;}
.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_id_condominos_label { }
.css_id_condominos_line {text-align:left;}
.css_id_condominos_obj {text-align:left;}
.css_id_usuariocriacao_label { }
.css_id_usuariocriacao_line {text-align:left;}
.css_id_usuariocriacao_obj {text-align:left;}
.css_id_operadora_label {width:300px;}
.css_id_operadora_line {text-align:left;}
.css_id_operadora_obj {text-align:left;}
.css_data_criacao_label {width:300px;}
.css_data_criacao_line { }
.css_data_criacao_obj { }
.css_num_totvs_label { }
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_laudoradiometrico_label { }
.css_laudoradiometrico_line { }
.css_laudoradiometrico_obj { }
.css_protocolohex_label { }
.css_protocolohex_line { }
.css_protocolohex_obj { }
.css_observacoes_label { }
.css_observacoes_line { }
.css_observacoes_obj { }
.css_id_prestadora_label {width:300px;}
.css_id_prestadora_line {text-align:left;}
.css_id_prestadora_obj {text-align:left;}
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_id_pa_label { }
.css_id_pa_line {text-align:left;}
.css_id_pa_obj {text-align:left;}
.css_tipo_pa_label { }
.css_tipo_pa_line { }
.css_tipo_pa_obj { }
.css_memorialdescritivopronto_label { }
.css_memorialdescritivopronto_line { }
.css_memorialdescritivopronto_obj { }
.css_relatoriofotograficopronto_label { }
.css_relatoriofotograficopronto_line { }
.css_relatoriofotograficopronto_obj { }
.css_historicostatus_label { }
.css_historicostatus_line { }
.css_historicostatus_obj { }
.css_id_a_label { }
.css_id_a_line { }
.css_id_a_obj { }
.css_id_p_label { }
.css_id_p_line { }
.css_id_p_obj { }
.css_instalacaodeantena_label { }
.css_instalacaodeantena_line { }
.css_instalacaodeantena_obj { }
.css_concluirprojeto_label { }
.css_concluirprojeto_line { }
.css_concluirprojeto_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_retomarprojeto_label { }
.css_retomarprojeto_line { }
.css_retomarprojeto_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_label_dataexpiracao_label { }
.css_label_dataexpiracao_line { }
.css_label_dataexpiracao_obj { }
