.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_projeto_label { }
.css_id_projeto_line {text-align:left;}
.css_id_projeto_obj {text-align:left;}
.css_codeitem_label { }
.css_codeitem_line { }
.css_codeitem_obj { }
.css_usuario_ultimaatualizacao_label { }
.css_usuario_ultimaatualizacao_line {text-align:left;}
.css_usuario_ultimaatualizacao_obj {text-align:left;}
.css_data_ultimaatualizacao_label { }
.css_data_ultimaatualizacao_line { }
.css_data_ultimaatualizacao_obj { }
.css_num_sae_label {width:300px;}
.css_num_sae_line { }
.css_num_sae_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_info_sae_label { }
.css_info_sae_line { }
.css_info_sae_obj { }
