.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_pop__label { }
.css_id_pop__line {text-align:left;}
.css_id_pop__obj {text-align:left;}
.css_nom_rack__label { }
.css_nom_rack__line { }
.css_nom_rack__obj { }
.css_id_operadora__label { }
.css_id_operadora__line {text-align:left;}
.css_id_operadora__obj {text-align:left;}
.css_iniciovigencia__label { }
.css_iniciovigencia__line { }
.css_iniciovigencia__obj { }
.css_valor_contrato__label {text-align:left;vertical-align:middle;}
.css_valor_contrato__line {text-align:left;vertical-align:middle;}
.css_valor_contrato__obj {text-align:left;}
.css_num_contrato__label { }
.css_num_contrato__line { }
.css_num_contrato__obj { }
.css_fimvigencia__label { }
.css_fimvigencia__line { }
.css_fimvigencia__obj { }
.css_addfile__label { }
.css_addfile__line { }
.css_addfile__obj { }
