.css_tb_itens_id_item_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_itens_id_item_grid_line {vertical-align: top;text-align: right;}
.css_nom_item_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_item_grid_line {vertical-align: top;text-align: right;}
.css_nom_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_descricao_grid_line {vertical-align: top;text-align: right;}
.css_observacoes_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observacoes_grid_line {text-align: right;}
.css_num_status_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {text-align: center;}
.css_editar_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_editar_grid_line {text-align: right;}
