.css_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: right;}
.css_arquivos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_arquivos_grid_line {text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_projeto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_projeto_grid_line {vertical-align: top;text-align: right;}
.css_idfi_1_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idfi_1_grid_line {vertical-align: top;text-align: right;}
.css_data_ultimaatualizacao_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_data_ultimaatualizacao_grid_line {vertical-align: top;text-align: center;}
.css_usuario_ultimaatualizacao_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_usuario_ultimaatualizacao_grid_line {vertical-align: top;text-align: right;}
.css_codeitem_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_codeitem_grid_line {vertical-align: top;text-align: right;}
