.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_tipo__label { }
.css_tipo__line {text-align:left;}
.css_tipo__obj {text-align:left;}
.css_estado__label { }
.css_estado__line { }
.css_estado__obj { }
.css_cidade__label { }
.css_cidade__line { }
.css_cidade__obj { }
.css_data__label { }
.css_data__line { }
.css_data__obj { }
.css_criado_em__label { }
.css_criado_em__line { }
.css_criado_em__obj { }
.css_num_status__label { }
.css_num_status__line { }
.css_num_status__obj { }
