.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_tipo_tecnico_label { }
.css_tipo_tecnico_line { }
.css_tipo_tecnico_obj { }
.css_id_opepre_label { }
.css_id_opepre_line {text-align:left;}
.css_id_opepre_obj {text-align:left;}
.css_nom_tecnico_label {width:300px;}
.css_nom_tecnico_line { }
.css_nom_tecnico_obj { }
.css_nom_sobrenome_label {width:300px;}
.css_nom_sobrenome_line { }
.css_nom_sobrenome_obj { }
.css_data_ativacao_label { }
.css_data_ativacao_line { }
.css_data_ativacao_obj { }
.css_foto_label {width:300px;}
.css_foto_line { }
.css_foto_obj { }
.css_num_rg_label {width:300px;}
.css_num_rg_line { }
.css_num_rg_obj { }
.css_num_telefone1_label { }
.css_num_telefone1_line { }
.css_num_telefone1_obj { }
.css_num_telefone2_label { }
.css_num_telefone2_line { }
.css_num_telefone2_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_tecnicoporoperadora_label { }
.css_tecnicoporoperadora_line { }
.css_tecnicoporoperadora_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_reativaronclick_label { }
.css_reativaronclick_line { }
.css_reativaronclick_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
