.css_tb_operadoras_nom_operadoras_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_operadoras_nom_operadoras_grid_line {vertical-align: top;text-align: right;}
.css_tb_operadoras_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_operadoras_num_cnpj_grid_line {vertical-align: top;text-align: right;}
