.css_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: left;}
.css_data_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: left;}
.css_ip_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ip_grid_line {vertical-align: middle;text-align: left;}
.css_nomusuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nomusuario_grid_line {vertical-align: middle;text-align: left;}
.css_nom_ope_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_ope_grid_line {vertical-align: middle;text-align: left;}
.css_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descricao_grid_line {vertical-align: middle;text-align: left;}
.css_conteudo1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_conteudo1_grid_line {text-align: left;}
.css_id_usuario_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
.css_tipousuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipousuario_grid_line {vertical-align: middle;text-align: left;}
.css_id_ope_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_ope_grid_line {vertical-align: top;text-align: right;}
