.css_foto_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_foto_grid_line {vertical-align: top;text-align: center;}
.css_nom_tecnico_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_tecnico_grid_line {vertical-align: top;text-align: right;}
.css_nom_sobrenome_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_sobrenome_grid_line {vertical-align: top;text-align: right;}
.css_data_ativacao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_ativacao_grid_line {vertical-align: top;text-align: right;}
.css_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_ativo_grid_line {vertical-align: top;text-align: right;}
