.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_nom_contato_label {width:300px;}
.css_nom_contato_line { }
.css_nom_contato_obj { }
.css_num_telefone1_label { }
.css_num_telefone1_line { }
.css_num_telefone1_obj { }
.css_num_telefone2_label { }
.css_num_telefone2_line { }
.css_num_telefone2_obj { }
.css_num_telefone3_label { }
.css_num_telefone3_line { }
.css_num_telefone3_obj { }
.css_nom_emailcontato1_label { }
.css_nom_emailcontato1_line { }
.css_nom_emailcontato1_obj { }
.css_nom_emailcontato2_label { }
.css_nom_emailcontato2_line { }
.css_nom_emailcontato2_obj { }
.css_nom_emailcontato3_label { }
.css_nom_emailcontato3_line { }
.css_nom_emailcontato3_obj { }
.css_id_ope_label { }
.css_id_ope_line {text-align:left;}
.css_id_ope_obj {text-align:left;}
.css_tipo_ope_label { }
.css_tipo_ope_line { }
.css_tipo_ope_obj { }
.css_id_tipocontato_label { }
.css_id_tipocontato_line {text-align:left;}
.css_id_tipocontato_obj {text-align:left;}
.css_num_tipousuario_label { }
.css_num_tipousuario_line { }
.css_num_tipousuario_obj { }
.css_id_ope_usuario_label { }
.css_id_ope_usuario_line {text-align:left;}
.css_id_ope_usuario_obj {text-align:left;}
.css_recebenotificacao_label { }
.css_recebenotificacao_line { }
.css_recebenotificacao_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
