.css_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_cnpj_grid_line {vertical-align: top;text-align: left;}
.css_nom_admin_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_admin_grid_line {vertical-align: top;text-align: left;}
.css_nom_contato_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_contato_grid_line {vertical-align: top;text-align: left;}
.css_nom_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_email_grid_line {vertical-align: top;text-align: left;}
.css_num_telefone_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_telefone_grid_line {vertical-align: top;text-align: left;}
.css_criado_em_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_criado_em_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_ativo_grid_line {vertical-align: top;text-align: left;}
