.css_num_sae_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_sae_grid_line {vertical-align: top;text-align: left;}
.css_id_tiposae_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_tiposae_grid_line {vertical-align: top;text-align: left;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: left;}
.css_id_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_empreendimento_grid_line {vertical-align: top;text-align: left;}
.css_id_condomino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_condomino_grid_line {vertical-align: top;text-align: left;}
.css_id_operadora_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_operadora_grid_line {vertical-align: top;text-align: left;}
.css_id_prestador_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_prestador_grid_line {vertical-align: top;text-align: left;}
.css_data_abertura_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_abertura_grid_line {vertical-align: top;text-align: left;}
.css_data_inicio_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_inicio_grid_line {vertical-align: top;text-align: left;}
