.css_protocolo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_protocolo_grid_line {vertical-align: top;text-align: right;}
.css_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: right;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_id_opepre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_opepre_grid_line {vertical-align: top;text-align: right;}
.css_id_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
.css_datarelato_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_datarelato_grid_line {vertical-align: top;text-align: right;}
.css_dataincidente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dataincidente_grid_line {vertical-align: top;text-align: right;}
.css_anexo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_anexo_grid_line {text-align: right;}
