.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nom_pop__label { }
.css_nom_pop__line { }
.css_nom_pop__obj { }
.css_localizacao__label { }
.css_localizacao__line { }
.css_localizacao__obj { }
.css_capacidade__label { }
.css_capacidade__line {text-align:left;}
.css_capacidade__obj {text-align:left;}
.css_id_empreendimento__label { }
.css_id_empreendimento__line {text-align:left;}
.css_id_empreendimento__obj {text-align:left;}
.css_addfile__label {text-align:center;}
.css_addfile__line {text-align:center;vertical-align:middle;}
.css_addfile__obj {text-align:center;}
.css_addrack__label { }
.css_addrack__line {text-align:center;}
.css_addrack__obj { }
.css_totalracks__label { }
.css_totalracks__line { }
.css_totalracks__obj { }
