.css_ntp_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ntp_grid_line {text-align: left;}
.css_nom_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_empreendimento_grid_line {vertical-align: top;text-align: left;}
.css_id_empreendimento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_empreendimento_grid_line {vertical-align: top;text-align: right;}
