.css_qtd_label {text-align:left;}
.css_qtd_line {text-align:left;}
.css_qtd_obj {text-align:center;}
.css_initname_label {text-align:left;}
.css_initname_line {text-align:left;}
.css_initname_obj {text-align:center;}
