.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_num_sae_label {width:200px;}
.css_num_sae_line { }
.css_num_sae_obj { }
.css_data_inicio_label {width:200px;}
.css_data_inicio_line { }
.css_data_inicio_obj { }
.css_hora_inicio_label {width:200px;}
.css_hora_inicio_line { }
.css_hora_inicio_obj { }
.css_data_fim_label { }
.css_data_fim_line { }
.css_data_fim_obj { }
.css_hora_fim_label {width:200px;}
.css_hora_fim_line { }
.css_hora_fim_obj { }
.css_observacoes_label {width:200px;}
.css_observacoes_line { }
.css_observacoes_obj { }
.css_id_usuario_acompanhante_label { }
.css_id_usuario_acompanhante_line {text-align:left;}
.css_id_usuario_acompanhante_obj {text-align:left;}
.css_img_asscondominio_label { }
.css_img_asscondominio_line { }
.css_img_asscondominio_obj { }
.css_nom_asscondominio_label { }
.css_nom_asscondominio_line { }
.css_nom_asscondominio_obj { }
.css_rg_asscondominio_label { }
.css_rg_asscondominio_line { }
.css_rg_asscondominio_obj { }
.css_img_assop_label { }
.css_img_assop_line { }
.css_img_assop_obj { }
.css_id_tecnico_assop_label { }
.css_id_tecnico_assop_line {text-align:left;}
.css_id_tecnico_assop_obj {text-align:left;}
.css_img_assgb_label { }
.css_img_assgb_line { }
.css_img_assgb_obj { }
.css_id_usuario_assgb_label { }
.css_id_usuario_assgb_line {text-align:left;}
.css_id_usuario_assgb_obj {text-align:left;}
.css_img_asscontroladoria_label { }
.css_img_asscontroladoria_line { }
.css_img_asscontroladoria_obj { }
.css_nom_asscontroladoria_label { }
.css_nom_asscontroladoria_line { }
.css_nom_asscontroladoria_obj { }
.css_rg_asscontroladoria_label { }
.css_rg_asscontroladoria_line { }
.css_rg_asscontroladoria_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_num_status_label { }
.css_num_status_line { }
.css_num_status_obj { }
.css_criado_em_label { }
.css_criado_em_line { }
.css_criado_em_obj { }
.css_total_horas_label { }
.css_total_horas_line {text-align:left;}
.css_total_horas_obj {text-align:left;}
.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_empreendimento_label { }
.css_empreendimento_line { }
.css_empreendimento_obj { }
.css_nom_assgb_label { }
.css_nom_assgb_line { }
.css_nom_assgb_obj { }
.css_operadora_label { }
.css_operadora_line { }
.css_operadora_obj { }
.css_prestadora_label { }
.css_prestadora_line { }
.css_prestadora_obj { }
.css_rg_assgb_label { }
.css_rg_assgb_line { }
.css_rg_assgb_obj { }
.css_rg_assop_label { }
.css_rg_assop_line { }
.css_rg_assop_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_tipo_assop_label { }
.css_tipo_assop_line { }
.css_tipo_assop_obj { }
.css_label_total_horas_label { }
.css_label_total_horas_line { }
.css_label_total_horas_obj { }
.css_canvas_asscondominio_label { }
.css_canvas_asscondominio_line { }
.css_canvas_asscondominio_obj { }
.css_canvas_assop_label { }
.css_canvas_assop_line { }
.css_canvas_assop_obj { }
.css_canvas_assgb_label { }
.css_canvas_assgb_line { }
.css_canvas_assgb_obj { }
.css_canvas_asscontroladoria_label { }
.css_canvas_asscontroladoria_line { }
.css_canvas_asscontroladoria_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_arquivos_label {width:300px;}
.css_arquivos_line { }
.css_arquivos_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_enviaronclick_label { }
.css_enviaronclick_line { }
.css_enviaronclick_obj { }
