.css_id_condomino_label { }
.css_id_condomino_line {text-align:left;}
.css_id_condomino_obj {text-align:left;}
.css_id_empreendimento_label {width:300px;}
.css_id_empreendimento_line { }
.css_id_empreendimento_obj { }
.css_nom_nome_label {width:300px;}
.css_nom_nome_line { }
.css_nom_nome_obj { }
.css_num_ativo_label {width:300px;}
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_num_totvs_label {width:300px;}
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_img_logo_label {width:300px;}
.css_img_logo_line { }
.css_img_logo_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_condominooperadora_label { }
.css_condominooperadora_line { }
.css_condominooperadora_obj { }
.css_contatosframe_label { }
.css_contatosframe_line { }
.css_contatosframe_obj { }
.css_lastmilleframe_label { }
.css_lastmilleframe_line { }
.css_lastmilleframe_obj { }
.css_ocupacao_label { }
.css_ocupacao_line { }
.css_ocupacao_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
