.css_titulo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_titulo_grid_line {vertical-align: top;text-align: right;}
.css_helpercategorias_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_helpercategorias_grid_line {vertical-align: top;text-align: right;}
.css_descricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: right;}
.css_alias_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_alias_grid_line {vertical-align: top;text-align: right;}
.css_criado_em_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_criado_em_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
