.css_valor_horacomercial_label { }
.css_valor_horacomercial_line {text-align:left;}
.css_valor_horacomercial_obj {text-align:left;}
.css_valor_horafimdesemana_label { }
.css_valor_horafimdesemana_line {text-align:left;}
.css_valor_horafimdesemana_obj {text-align:left;}
.css_perc_adicionalnoturno_label { }
.css_perc_adicionalnoturno_line {text-align:left;}
.css_perc_adicionalnoturno_obj {text-align:left;}
.css_data_vigenciainicio_label { }
.css_data_vigenciainicio_line { }
.css_data_vigenciainicio_obj { }
.css_data_vigenciafim_label { }
.css_data_vigenciafim_line { }
.css_data_vigenciafim_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
