.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_tipo_op_label { }
.css_tipo_op_line { }
.css_tipo_op_obj { }
.css_id_op_label { }
.css_id_op_line {text-align:left;}
.css_id_op_obj {text-align:left;}
.css_referente_label {width:300px;}
.css_referente_line { }
.css_referente_obj { }
.css_endereco_label { }
.css_endereco_line {text-align:left;}
.css_endereco_obj {text-align:left;}
.css_end_obra_logradouro_label { }
.css_end_obra_logradouro_line { }
.css_end_obra_logradouro_obj { }
.css_end_obra_numero_label { }
.css_end_obra_numero_line {text-align:left;}
.css_end_obra_numero_obj {text-align:left;}
.css_end_obra_complemento_label { }
.css_end_obra_complemento_line { }
.css_end_obra_complemento_obj { }
.css_end_obra_bairro_label { }
.css_end_obra_bairro_line { }
.css_end_obra_bairro_obj { }
.css_end_obra_cidade_label { }
.css_end_obra_cidade_line { }
.css_end_obra_cidade_obj { }
.css_end_obra_uf_label { }
.css_end_obra_uf_line { }
.css_end_obra_uf_obj { }
.css_end_obra_cep_label { }
.css_end_obra_cep_line { }
.css_end_obra_cep_obj { }
.css_condominio_label { }
.css_condominio_line { }
.css_condominio_obj { }
.css_cliente_label {width:300px;}
.css_cliente_line { }
.css_cliente_obj { }
.css_contatoprincipal_label { }
.css_contatoprincipal_line {text-align:left;}
.css_contatoprincipal_obj {text-align:left;}
.css_emailcontatoprincipal_label { }
.css_emailcontatoprincipal_line { }
.css_emailcontatoprincipal_obj { }
.css_telefonecontatoprincipal_label { }
.css_telefonecontatoprincipal_line {text-align:left;}
.css_telefonecontatoprincipal_obj {text-align:left;}
.css_contatofinanceiro_label { }
.css_contatofinanceiro_line {text-align:left;}
.css_contatofinanceiro_obj {text-align:left;}
.css_emailcontatofinanceiro_label { }
.css_emailcontatofinanceiro_line { }
.css_emailcontatofinanceiro_obj { }
.css_telefonecontatofinanceiro_label { }
.css_telefonecontatofinanceiro_line {text-align:left;}
.css_telefonecontatofinanceiro_obj {text-align:left;}
.css_id_usuario_contatoconsultor_label { }
.css_id_usuario_contatoconsultor_line {text-align:left;}
.css_id_usuario_contatoconsultor_obj {text-align:left;}
.css_datacriacao_label { }
.css_datacriacao_line { }
.css_datacriacao_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_num_tipousuario_label { }
.css_num_tipousuario_line { }
.css_num_tipousuario_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_id_op_usuario_label { }
.css_id_op_usuario_line {text-align:left;}
.css_id_op_usuario_obj {text-align:left;}
.css_origem_label { }
.css_origem_line { }
.css_origem_obj { }
.css_id_origem_label { }
.css_id_origem_line { }
.css_id_origem_obj { }
.css_num_status_label { }
.css_num_status_line { }
.css_num_status_obj { }
.css_pendentecompletar_label { }
.css_pendentecompletar_line { }
.css_pendentecompletar_obj { }
.css_gbimprimedocumento_label { }
.css_gbimprimedocumento_line { }
.css_gbimprimedocumento_obj { }
.css_arquivos_label {width:300px;}
.css_arquivos_line { }
.css_arquivos_obj { }
.css_cnpj_label { }
.css_cnpj_line { }
.css_cnpj_obj { }
.css_razaosocial_label { }
.css_razaosocial_line { }
.css_razaosocial_obj { }
.css_enviaranalise_label { }
.css_enviaranalise_line { }
.css_enviaranalise_obj { }
.css_itenslabel_frame_label { }
.css_itenslabel_frame_line { }
.css_itenslabel_frame_obj { }
.css_label_origem_label { }
.css_label_origem_line { }
.css_label_origem_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_removerrascunho_label { }
.css_removerrascunho_line { }
.css_removerrascunho_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_localizacao_label { }
.css_localizacao_line { }
.css_localizacao_obj { }
