.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_data_inicio_label { }
.css_data_inicio_line { }
.css_data_inicio_obj { }
.css_hora_inicio_label { }
.css_hora_inicio_line { }
.css_hora_inicio_obj { }
.css_data_fim_label { }
.css_data_fim_line { }
.css_data_fim_obj { }
.css_hora_fim_label { }
.css_hora_fim_line { }
.css_hora_fim_obj { }
.css_recorrente_label { }
.css_recorrente_line { }
.css_recorrente_obj { }
.css_periodo_label { }
.css_periodo_line { }
.css_periodo_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_tipo_evento_label { }
.css_tipo_evento_line { }
.css_tipo_evento_obj { }
.css___calend_all_day___label { }
.css___calend_all_day___line { }
.css___calend_all_day___obj { }
