.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_memorialdescritivotecnico__label { }
.css_id_memorialdescritivotecnico__line {text-align:left;}
.css_id_memorialdescritivotecnico__obj {text-align:left;}
.css_empresa__label { }
.css_empresa__line { }
.css_empresa__obj { }
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_telefone1__label { }
.css_telefone1__line { }
.css_telefone1__obj { }
.css_telefone2__label { }
.css_telefone2__line { }
.css_telefone2__obj { }
.css_email__label { }
.css_email__line { }
.css_email__obj { }
.css_cargo__label { }
.css_cargo__line { }
.css_cargo__obj { }
.css_setor__label { }
.css_setor__line { }
.css_setor__obj { }
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
