.css_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_nom_razaosocial_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_razaosocial_grid_line {vertical-align: top;text-align: right;}
.css_id_prestador_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_prestador_grid_line {vertical-align: top;text-align: right;}
