.css_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: right;}
.css_razaosocial_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_razaosocial_grid_line {text-align: right;}
.css_cnpj_op_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cnpj_op_grid_line {text-align: right;}
.css_referente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_referente_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_tipo_op_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_op_grid_line {vertical-align: top;text-align: right;}
.css_id_op_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_op_grid_line {vertical-align: top;text-align: right;}
