.css_img_logo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_img_logo_grid_line {vertical-align: top;text-align: center;}
.css_id_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_empreendimento_grid_line {vertical-align: middle;text-align: left;}
.css_nom_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_empreendimento_grid_line {vertical-align: middle;text-align: left;}
.css_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_ativo_grid_line {vertical-align: top;text-align: left;}
.css_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_cnpj_grid_line {vertical-align: top;text-align: left;}
.css_end_cidade_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_end_cidade_grid_line {vertical-align: bottom;text-align: left;}
.css_end_uf_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_end_uf_grid_line {vertical-align: middle;text-align: left;}
.css_contatos_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_contatos_grid_line {vertical-align: middle;text-align: center;}
.css_horarios_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_horarios_grid_line {vertical-align: middle;text-align: center;}
.css_valores_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_valores_grid_line {text-align: center;}
.css_end_logradouro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_end_logradouro_grid_line {vertical-align: top;text-align: left;}
.css_end_numero_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_end_numero_grid_line {vertical-align: top;text-align: right;}
.css_end_complemento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_end_complemento_grid_line {vertical-align: top;text-align: left;}
.css_end_bairro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_end_bairro_grid_line {vertical-align: top;text-align: left;}
.css_administradoras_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_administradoras_grid_line {vertical-align: top;text-align: left;}
.css_nom_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_email_grid_line {vertical-align: top;text-align: left;}
.css_num_telefonecomercial_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_telefonecomercial_grid_line {vertical-align: top;text-align: left;}
