.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_projeto_label { }
.css_id_projeto_line {text-align:left;}
.css_id_projeto_obj {text-align:left;}
.css_data_ultimaatualizacao_label { }
.css_data_ultimaatualizacao_line { }
.css_data_ultimaatualizacao_obj { }
.css_usuario_ultimaatualizacao_label { }
.css_usuario_ultimaatualizacao_line {text-align:left;}
.css_usuario_ultimaatualizacao_obj {text-align:left;}
.css_codeitem_label { }
.css_codeitem_line { }
.css_codeitem_obj { }
.css_clienteid_condomino_label {width:300px;}
.css_clienteid_condomino_line {text-align:left;}
.css_clienteid_condomino_obj {text-align:left;}
.css_clienteid_torre_label { }
.css_clienteid_torre_line {text-align:left;}
.css_clienteid_torre_obj {text-align:left;}
.css_clienteid_andar_label { }
.css_clienteid_andar_line {text-align:left;}
.css_clienteid_andar_obj {text-align:left;}
.css_clienteid_conjunto_label { }
.css_clienteid_conjunto_line {text-align:left;}
.css_clienteid_conjunto_obj {text-align:left;}
.css_idfi_1_label { }
.css_idfi_1_line {text-align:left;}
.css_idfi_1_obj {text-align:left;}
.css_contatos_label { }
.css_contatos_line { }
.css_contatos_obj { }
.css_materiais_label { }
.css_materiais_line { }
.css_materiais_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_secaodoc_label { }
.css_secaodoc_line { }
.css_secaodoc_obj { }
