.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_memorialdescritivotecnico__label { }
.css_id_memorialdescritivotecnico__line {text-align:left;}
.css_id_memorialdescritivotecnico__obj {text-align:left;}
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_unidade__label { }
.css_unidade__line {text-align:left;}
.css_unidade__obj {text-align:left;}
.css_previsto__label { }
.css_previsto__line {text-align:left;}
.css_previsto__obj {text-align:left;}
.css_fabricante__label { }
.css_fabricante__line { }
.css_fabricante__obj { }
