.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_colaborador_label {width:300px;}
.css_id_colaborador_line {text-align:left;}
.css_id_colaborador_obj {text-align:left;}
.css_id_solicitante_label {width:300px;}
.css_id_solicitante_line {text-align:left;}
.css_id_solicitante_obj {text-align:left;}
.css_centrodecusto_label {width:300px;}
.css_centrodecusto_line {text-align:left;}
.css_centrodecusto_obj {text-align:left;}
.css_num_ativo_label {width:300px;}
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_num_status_label {width:300px;}
.css_num_status_line { }
.css_num_status_obj { }
.css_dataexecucao_label {width:300px;}
.css_dataexecucao_line { }
.css_dataexecucao_obj { }
.css_horasaida_label {width:300px;}
.css_horasaida_line { }
.css_horasaida_obj { }
.css_tipolocalsaida_label {width:300px;}
.css_tipolocalsaida_line { }
.css_tipolocalsaida_obj { }
.css_empreendimento_label { }
.css_empreendimento_line { }
.css_empreendimento_obj { }
.css_veiculoempresa_label {width:300px;}
.css_veiculoempresa_line { }
.css_veiculoempresa_obj { }
.css_kmveiculoempresa_label {width:300px;}
.css_kmveiculoempresa_line {text-align:left;}
.css_kmveiculoempresa_obj {text-align:left;}
.css_valoridataxi_label {width:300px;}
.css_valoridataxi_line {text-align:left;}
.css_valoridataxi_obj {text-align:left;}
.css_valorvoltataxi_label {width:300px;}
.css_valorvoltataxi_line {text-align:left;}
.css_valorvoltataxi_obj {text-align:left;}
.css_valoridauber_label {width:300px;}
.css_valoridauber_line {text-align:left;}
.css_valoridauber_obj {text-align:left;}
.css_valorvoltauber_label {width:300px;}
.css_valorvoltauber_line {text-align:left;}
.css_valorvoltauber_obj {text-align:left;}
.css_estacionamento_label {width:300px;}
.css_estacionamento_line {text-align:left;}
.css_estacionamento_obj {text-align:left;}
.css_refeicao_label {width:300px;}
.css_refeicao_line {text-align:left;}
.css_refeicao_obj {text-align:left;}
.css_pedagio_label { }
.css_pedagio_line {text-align:left;}
.css_pedagio_obj {text-align:left;}
.css_criado_em_label { }
.css_criado_em_line { }
.css_criado_em_obj { }
.css_alterado_em_label { }
.css_alterado_em_line { }
.css_alterado_em_obj { }
.css_removido_em_label { }
.css_removido_em_line { }
.css_removido_em_obj { }
.css_entregue_em_label { }
.css_entregue_em_line { }
.css_entregue_em_obj { }
.css_observacoes_label {width:300px;}
.css_observacoes_line { }
.css_observacoes_obj { }
.css_code_label { }
.css_code_line { }
.css_code_obj { }
.css_cargocolaborador_label { }
.css_cargocolaborador_line { }
.css_cargocolaborador_obj { }
.css_departamentocolaborador_label { }
.css_departamentocolaborador_line {text-align:left;}
.css_departamentocolaborador_obj {text-align:left;}
.css_id_empreendimento_label {width:300px;}
.css_id_empreendimento_line { }
.css_id_empreendimento_obj { }
.css_totalreembolso_label { }
.css_totalreembolso_line { }
.css_totalreembolso_obj { }
.css_enviardataonclick_label { }
.css_enviardataonclick_line { }
.css_enviardataonclick_obj { }
.css_framedeslocamentos_label {width:300px;}
.css_framedeslocamentos_line { }
.css_framedeslocamentos_obj { }
.css_removerdataonclick_label { }
.css_removerdataonclick_line { }
.css_removerdataonclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_arquivo_label {width:300px;}
.css_arquivo_line { }
.css_arquivo_obj { }
.css_rejeicao_label { }
.css_rejeicao_line { }
.css_rejeicao_obj { }
