.css_protocolohex_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_protocolohex_grid_line {vertical-align: top;text-align: left;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: left;}
.css_id_tipoprojeto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_tipoprojeto_grid_line {vertical-align: top;text-align: left;}
.css_id_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_empreendimento_grid_line {vertical-align: top;text-align: left;}
.css_id_condominos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_condominos_grid_line {vertical-align: top;text-align: left;}
.css_id_operadora_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_operadora_grid_line {vertical-align: top;text-align: left;}
.css_id_prestadora_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_prestadora_grid_line {vertical-align: top;text-align: left;}
.css_data_criacao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_data_criacao_grid_line {vertical-align: top;text-align: left;}
.css_edicao_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_edicao_grid_line {text-align: center;}
