.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_memorialdescritivotecnico__label { }
.css_id_memorialdescritivotecnico__line {text-align:left;}
.css_id_memorialdescritivotecnico__obj {text-align:left;}
.css_ordem__label { }
.css_ordem__line {text-align:left;}
.css_ordem__obj {text-align:left;}
.css_titulo__label { }
.css_titulo__line { }
.css_titulo__obj { }
.css_texto__label { }
.css_texto__line { }
.css_texto__obj { }
.css_down__label { }
.css_down__line { }
.css_down__obj { }
.css_up__label {width:10px;}
.css_up__line { }
.css_up__obj { }
