.css_img_foto_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_img_foto_grid_line {vertical-align: top;text-align: center;}
.css_nom_nome_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_nome_grid_line {vertical-align: middle;text-align: left;}
.css_nom_username_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_username_grid_line {vertical-align: middle;text-align: left;}
.css_num_tipousuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_tipousuario_grid_line {vertical-align: middle;text-align: left;}
.css_id_perfil_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_perfil_grid_line {vertical-align: middle;text-align: left;}
.css_id_ope_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_ope_grid_line {vertical-align: middle;text-align: left;}
.css_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_ativo_grid_line {vertical-align: middle;text-align: left;}
.css_id_usuario_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
