.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_criado_em_label { }
.css_criado_em_line { }
.css_criado_em_obj { }
.css_alterado_em_label { }
.css_alterado_em_line { }
.css_alterado_em_obj { }
.css_titulo_pt_label {width:200px;}
.css_titulo_pt_line { }
.css_titulo_pt_obj { }
.css_titulo_en_label { }
.css_titulo_en_line { }
.css_titulo_en_obj { }
.css_titulo_es_label { }
.css_titulo_es_line { }
.css_titulo_es_obj { }
.css_conteudo_pt_label {width:200px;}
.css_conteudo_pt_line { }
.css_conteudo_pt_obj { }
.css_conteudo_en_label { }
.css_conteudo_en_line { }
.css_conteudo_en_obj { }
.css_conteudo_es_label { }
.css_conteudo_es_line { }
.css_conteudo_es_obj { }
.css_alias_label {width:200px;}
.css_alias_line { }
.css_alias_obj { }
.css_id_helpercategorias_label { }
.css_id_helpercategorias_line {text-align:left;}
.css_id_helpercategorias_obj {text-align:left;}
.css_descricao_pt_label {width:200px;}
.css_descricao_pt_line { }
.css_descricao_pt_obj { }
.css_descricao_en_label { }
.css_descricao_en_line { }
.css_descricao_en_obj { }
.css_descricao_es_label { }
.css_descricao_es_line { }
.css_descricao_es_obj { }
.css_modulo_label { }
.css_modulo_line { }
.css_modulo_obj { }
.css_funcao_label { }
.css_funcao_line { }
.css_funcao_obj { }
.css_tipousuario_label { }
.css_tipousuario_line { }
.css_tipousuario_obj { }
.css_deletedataonclick_label { }
.css_deletedataonclick_line { }
.css_deletedataonclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
