.css_img_logo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_img_logo_grid_line {vertical-align: top;text-align: right;}
.css_nom_operadoras_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_operadoras_grid_line {vertical-align: top;text-align: right;}
.css_num_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_nom_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_email_grid_line {vertical-align: top;text-align: right;}
.css_num_telefonecomercial_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_telefonecomercial_grid_line {vertical-align: top;text-align: right;}
