.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_projeto_label { }
.css_id_projeto_line {text-align:left;}
.css_id_projeto_obj {text-align:left;}
.css_idfi_1_label { }
.css_idfi_1_line {text-align:left;}
.css_idfi_1_obj {text-align:left;}
.css_data_ultimaatualizacao_label { }
.css_data_ultimaatualizacao_line { }
.css_data_ultimaatualizacao_obj { }
.css_usuario_ultimaatualizacao_label { }
.css_usuario_ultimaatualizacao_line {text-align:left;}
.css_usuario_ultimaatualizacao_obj {text-align:left;}
.css_codeitem_label { }
.css_codeitem_line { }
.css_codeitem_obj { }
.css_fi_path_label { }
.css_fi_path_line { }
.css_fi_path_obj { }
.css_idfi_1_doc_label {width:300px;}
.css_idfi_1_doc_line { }
.css_idfi_1_doc_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
