.css_num_sae_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_sae_grid_line {vertical-align: top;text-align: left;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: left;}
.css_nom_asscondominio_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_asscondominio_grid_line {vertical-align: top;text-align: left;}
.css_nom_assop_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_assop_grid_line {vertical-align: top;text-align: left;}
.css_nom_assgb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_assgb_grid_line {vertical-align: top;text-align: left;}
.css_nom_asscontroladoria_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_asscontroladoria_grid_line {vertical-align: top;text-align: left;}
.css_criado_em_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_criado_em_grid_line {vertical-align: top;text-align: left;}
.css_id_tecnico_assop_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_tecnico_assop_grid_line {vertical-align: top;text-align: left;}
.css_id_usuario_assgb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_usuario_assgb_grid_line {vertical-align: top;text-align: left;}
