.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nom_torre__label {width:300px;}
.css_nom_torre__line { }
.css_nom_torre__obj { }
.css_id_empreendimento__label { }
.css_id_empreendimento__line {text-align:left;}
.css_id_empreendimento__obj {text-align:left;}
.css_num_andar__label { }
.css_num_andar__line { }
.css_num_andar__obj { }
.css_num_conjunto__label { }
.css_num_conjunto__line { }
.css_num_conjunto__obj { }
.css_addandar__label { }
.css_addandar__line { }
.css_addandar__obj { }
