.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_id_opepre_label { }
.css_id_opepre_line {text-align:left;}
.css_id_opepre_obj {text-align:left;}
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_tipo_label {width:300px;}
.css_tipo_line { }
.css_tipo_obj { }
.css_descricao_label {width:300px;}
.css_descricao_line { }
.css_descricao_obj { }
.css_datarelato_label { }
.css_datarelato_line { }
.css_datarelato_obj { }
.css_dataincidente_label { }
.css_dataincidente_line { }
.css_dataincidente_obj { }
.css_jsonimagemdescricao_label { }
.css_jsonimagemdescricao_line { }
.css_jsonimagemdescricao_obj { }
.css_id_operadora_tratativa_label { }
.css_id_operadora_tratativa_line {text-align:left;}
.css_id_operadora_tratativa_obj {text-align:left;}
.css_nomeresponsaveltratativa_label { }
.css_nomeresponsaveltratativa_line { }
.css_nomeresponsaveltratativa_obj { }
.css_telefoneresponsaveltratativa_label { }
.css_telefoneresponsaveltratativa_line { }
.css_telefoneresponsaveltratativa_obj { }
.css_num_status_label { }
.css_num_status_line { }
.css_num_status_obj { }
.css_protocolo_label { }
.css_protocolo_line { }
.css_protocolo_obj { }
.css_descricaoandamento_label { }
.css_descricaoandamento_line { }
.css_descricaoandamento_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_anexos_label {width:300px;}
.css_anexos_line { }
.css_anexos_obj { }
.css_operadora_label { }
.css_operadora_line { }
.css_operadora_obj { }
.css_prestadora_label { }
.css_prestadora_line { }
.css_prestadora_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
