.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_condomino__label { }
.css_id_condomino__line {text-align:left;}
.css_id_condomino__obj {text-align:left;}
.css_id_conjunto__label { }
.css_id_conjunto__line {text-align:left;}
.css_id_conjunto__obj {text-align:left;}
.css_id_torre__label { }
.css_id_torre__line { }
.css_id_torre__obj { }
.css_id_andar__label { }
.css_id_andar__line { }
.css_id_andar__obj { }
.css_id_conjunto_final__label { }
.css_id_conjunto_final__line { }
.css_id_conjunto_final__obj { }
