.css_initname_label {text-align:left;width:200px;}
.css_initname_line {text-align:left;}
.css_initname_obj {text-align:left;}
.css_qtdandar_label {text-align:left;width:200px;}
.css_qtdandar_line {text-align:center;}
.css_qtdandar_obj {text-align:center;}
.css_qtdconjunto_label {text-align:left;}
.css_qtdconjunto_line {text-align:center;}
.css_qtdconjunto_obj {text-align:center;}
.css_secondinitname_label { }
.css_secondinitname_line { }
.css_secondinitname_obj { }
.css_addterreo_label { }
.css_addterreo_line { }
.css_addterreo_obj { }
