.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_pas__label { }
.css_id_pas__line {text-align:left;}
.css_id_pas__obj {text-align:left;}
.css_prev_data_inicio__label { }
.css_prev_data_inicio__line { }
.css_prev_data_inicio__obj { }
.css_prev_data_fim__label { }
.css_prev_data_fim__line { }
.css_prev_data_fim__obj { }
.css_real_data_inicio__label { }
.css_real_data_inicio__line { }
.css_real_data_inicio__obj { }
.css_real_data_fim__label { }
.css_real_data_fim__line { }
.css_real_data_fim__obj { }
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_prev_horas__label { }
.css_prev_horas__line {text-align:left;}
.css_prev_horas__obj {text-align:left;}
.css_real_horas__label { }
.css_real_horas__line {text-align:left;}
.css_real_horas__obj {text-align:left;}
.css_prev_valor__label { }
.css_prev_valor__line {text-align:left;}
.css_prev_valor__obj {text-align:left;}
.css_real_valor__label { }
.css_real_valor__line {text-align:left;}
.css_real_valor__obj {text-align:left;}
.css_num_analise__label { }
.css_num_analise__line {text-align:left;}
.css_num_analise__obj {text-align:left;}
.css_info__label { }
.css_info__line { }
.css_info__obj { }
.css_prev_horas_label__label { }
.css_prev_horas_label__line { }
.css_prev_horas_label__obj { }
.css_real_horas_label__label { }
.css_real_horas_label__line { }
.css_real_horas_label__obj { }
