.css_edit_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_edit_grid_line {text-align: center;}
.css_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nom_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_empreendimento_grid_line {vertical-align: top;text-align: right;}
.css_agentetipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_agentetipo_grid_line {vertical-align: top;text-align: right;}
.css_agenteid_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_agenteid_grid_line {vertical-align: top;text-align: right;}
.css_num_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_status_grid_line {vertical-align: top;text-align: right;}
.css_id_empreendimento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_empreendimento_grid_line {vertical-align: top;text-align: right;}
.css_criado_em_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_criado_em_grid_line {vertical-align: top;text-align: center;}
.css_editado_em_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_editado_em_grid_line {vertical-align: top;text-align: center;}
.css_removido_em_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_removido_em_grid_line {vertical-align: top;text-align: center;}
