.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_num_cnpj_label {width:300px;}
.css_num_cnpj_line { }
.css_num_cnpj_obj { }
.css_nom_empreendimento_label {width:300px;}
.css_nom_empreendimento_line { }
.css_nom_empreendimento_obj { }
.css_nom_email_label {width:300px;}
.css_nom_email_line { }
.css_nom_email_obj { }
.css_num_telefonecomercial_label {width:300px;}
.css_num_telefonecomercial_line { }
.css_num_telefonecomercial_obj { }
.css_end_logradouro_label {width:300px;}
.css_end_logradouro_line { }
.css_end_logradouro_obj { }
.css_end_numero_label { }
.css_end_numero_line {text-align:left;}
.css_end_numero_obj {text-align:left;}
.css_end_complemento_label {width:300px;}
.css_end_complemento_line { }
.css_end_complemento_obj { }
.css_end_bairro_label {width:300px;}
.css_end_bairro_line { }
.css_end_bairro_obj { }
.css_end_cidade_label {width:300px;}
.css_end_cidade_line { }
.css_end_cidade_obj { }
.css_end_uf_label {width:300px;}
.css_end_uf_line { }
.css_end_uf_obj { }
.css_end_cep_label {width:300px;}
.css_end_cep_line { }
.css_end_cep_obj { }
.css_num_totvs_label {width:300px;}
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_img_logo_label {width:300px;}
.css_img_logo_line { }
.css_img_logo_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_pontodeencontro_label { }
.css_pontodeencontro_line { }
.css_pontodeencontro_obj { }
.css_perfildoempreendimento_label { }
.css_perfildoempreendimento_line { }
.css_perfildoempreendimento_obj { }
.css_id_empreendimentosadmin_label { }
.css_id_empreendimentosadmin_line {text-align:left;}
.css_id_empreendimentosadmin_obj {text-align:left;}
.css_img_rg_label {width:300px;}
.css_img_rg_line { }
.css_img_rg_obj { }
.css_antenariolabelframe_label { }
.css_antenariolabelframe_line { }
.css_antenariolabelframe_obj { }
.css_bloqueioopelabelframe_label { }
.css_bloqueioopelabelframe_line { }
.css_bloqueioopelabelframe_obj { }
.css_bloqueioprelabelframe_label { }
.css_bloqueioprelabelframe_line { }
.css_bloqueioprelabelframe_obj { }
.css_deleteonclick_label { }
.css_deleteonclick_line { }
.css_deleteonclick_obj { }
.css_inconformidadeslabelframe_label { }
.css_inconformidadeslabelframe_line { }
.css_inconformidadeslabelframe_obj { }
.css_localizacao_label { }
.css_localizacao_line { }
.css_localizacao_obj { }
.css_poelabelframe_label {width:300px;}
.css_poelabelframe_line { }
.css_poelabelframe_obj { }
.css_poplabelframe_label { }
.css_poplabelframe_line { }
.css_poplabelframe_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_shaftlabelframe_label { }
.css_shaftlabelframe_line { }
.css_shaftlabelframe_obj { }
.css_torrelabelframe_label { }
.css_torrelabelframe_line { }
.css_torrelabelframe_obj { }
.css_upnpt_label {width:300px;}
.css_upnpt_line { }
.css_upnpt_obj { }
.css_bloqueiotecopelabelframe_label { }
.css_bloqueiotecopelabelframe_line { }
.css_bloqueiotecopelabelframe_obj { }
.css_bloqueiotecprelabelframe_label { }
.css_bloqueiotecprelabelframe_line { }
.css_bloqueiotecprelabelframe_obj { }
.css_uprelatoriovistoria_label {width:300px;}
.css_uprelatoriovistoria_line { }
.css_uprelatoriovistoria_obj { }
