.css_nom_torre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_torre_grid_line {vertical-align: top;text-align: right;}
.css_nom_andarcast_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_andarcast_grid_line {vertical-align: top;text-align: right;}
.css_nom_conjunto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_conjunto_grid_line {vertical-align: top;text-align: right;}
