.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_projeto_label { }
.css_id_projeto_line {text-align:left;}
.css_id_projeto_obj {text-align:left;}
.css_bloco1_id_opc_label { }
.css_bloco1_id_opc_line {text-align:left;}
.css_bloco1_id_opc_obj {text-align:left;}
.css_bloco1_tipo_opc_label { }
.css_bloco1_tipo_opc_line { }
.css_bloco1_tipo_opc_obj { }
.css_bloco2_id_opc_label { }
.css_bloco2_id_opc_line {text-align:left;}
.css_bloco2_id_opc_obj {text-align:left;}
.css_bloco2_tipo_opc_label { }
.css_bloco2_tipo_opc_line { }
.css_bloco2_tipo_opc_obj { }
.css_bloco3_id_opc_label { }
.css_bloco3_id_opc_line {text-align:left;}
.css_bloco3_id_opc_obj {text-align:left;}
.css_bloco3_tipo_opc_label { }
.css_bloco3_tipo_opc_line { }
.css_bloco3_tipo_opc_obj { }
.css_infoadd_label {width:300px;}
.css_infoadd_line { }
.css_infoadd_obj { }
.css_controleinterno_label { }
.css_controleinterno_line { }
.css_controleinterno_obj { }
.css_num_art_label { }
.css_num_art_line { }
.css_num_art_obj { }
.css_datamodificacao_label { }
.css_datamodificacao_line { }
.css_datamodificacao_obj { }
.css_bloco1_id_c_label { }
.css_bloco1_id_c_line { }
.css_bloco1_id_c_obj { }
.css_bloco1_id_o_label { }
.css_bloco1_id_o_line { }
.css_bloco1_id_o_obj { }
.css_bloco1_id_p_label { }
.css_bloco1_id_p_line { }
.css_bloco1_id_p_obj { }
.css_bloco1_logo_label { }
.css_bloco1_logo_line { }
.css_bloco1_logo_obj { }
.css_bloco1_titulo_label { }
.css_bloco1_titulo_line { }
.css_bloco1_titulo_obj { }
.css_bloco2_id_c_label { }
.css_bloco2_id_c_line { }
.css_bloco2_id_c_obj { }
.css_bloco2_id_o_label { }
.css_bloco2_id_o_line { }
.css_bloco2_id_o_obj { }
.css_bloco2_id_p_label { }
.css_bloco2_id_p_line { }
.css_bloco2_id_p_obj { }
.css_bloco2_logo_label { }
.css_bloco2_logo_line { }
.css_bloco2_logo_obj { }
.css_bloco2_titulo_label { }
.css_bloco2_titulo_line { }
.css_bloco2_titulo_obj { }
.css_bloco3_id_c_label { }
.css_bloco3_id_c_line { }
.css_bloco3_id_c_obj { }
.css_bloco3_id_o_label { }
.css_bloco3_id_o_line { }
.css_bloco3_id_o_obj { }
.css_bloco3_id_p_label { }
.css_bloco3_id_p_line { }
.css_bloco3_id_p_obj { }
.css_bloco3_logo_label { }
.css_bloco3_logo_line { }
.css_bloco3_logo_obj { }
.css_bloco3_titulo_label { }
.css_bloco3_titulo_line { }
.css_bloco3_titulo_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
