.css_id_valordeslocamento_label { }
.css_id_valordeslocamento_line {text-align:left;}
.css_id_valordeslocamento_obj {text-align:left;}
.css_id_empreendimento_label { }
.css_id_empreendimento_line {text-align:left;}
.css_id_empreendimento_obj {text-align:left;}
.css_valor_deslocamento_label { }
.css_valor_deslocamento_line {text-align:left;}
.css_valor_deslocamento_obj {text-align:left;}
.css_data_vigenciainicio_label { }
.css_data_vigenciainicio_line { }
.css_data_vigenciainicio_obj { }
.css_data_vigenciafim_label { }
.css_data_vigenciafim_line { }
.css_data_vigenciafim_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
