.css_tb_usuarios_img_foto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_usuarios_img_foto_grid_line {vertical-align: top;text-align: left;}
.css_tb_usuarios_nom_username_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_usuarios_nom_username_grid_line {vertical-align: top;text-align: left;}
.css_tb_usuarios_nom_nome_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_usuarios_nom_nome_grid_line {vertical-align: top;text-align: left;}
.css_tb_usuarios_num_ativo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_usuarios_num_ativo_grid_line {vertical-align: top;text-align: left;}
.css_tb_usuarios_id_usuario_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_usuarios_id_usuario_grid_line {vertical-align: top;text-align: right;}
