.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_nom_username_label {width:300px;}
.css_nom_username_line { }
.css_nom_username_obj { }
.css_nom_nome_label { }
.css_nom_nome_line { }
.css_nom_nome_obj { }
.css_num_tipousuario_label { }
.css_num_tipousuario_line { }
.css_num_tipousuario_obj { }
.css_id_perfil_label { }
.css_id_perfil_line { }
.css_id_perfil_obj { }
.css_id_ope_label { }
.css_id_ope_line { }
.css_id_ope_obj { }
.css_contexto_tipo_label { }
.css_contexto_tipo_line { }
.css_contexto_tipo_obj { }
.css_contexto_id_ope_label { }
.css_contexto_id_ope_line {text-align:left;}
.css_contexto_id_ope_obj {text-align:left;}
.css_end_numero_label {width:300px;}
.css_end_numero_line {text-align:left;}
.css_end_numero_obj {text-align:left;}
.css_num_totvs_label {width:300px;}
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_num_ativo_label {width:300px;}
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_img_foto_label {width:300px;}
.css_img_foto_line { }
.css_img_foto_obj { }
.css_num_cpf_label {width:300px;}
.css_num_cpf_line { }
.css_num_cpf_obj { }
.css_num_rg_label {width:300px;}
.css_num_rg_line { }
.css_num_rg_obj { }
.css_data_nascimento_label {width:300px;}
.css_data_nascimento_line { }
.css_data_nascimento_obj { }
.css_nom_email1_label {width:300px;}
.css_nom_email1_line { }
.css_nom_email1_obj { }
.css_nom_email2_label { }
.css_nom_email2_line { }
.css_nom_email2_obj { }
.css_num_telefonecomercial_label {width:300px;}
.css_num_telefonecomercial_line { }
.css_num_telefonecomercial_obj { }
.css_nom_telefoneresidencial_label {width:300px;}
.css_nom_telefoneresidencial_line { }
.css_nom_telefoneresidencial_obj { }
.css_num_telefonecelular_label {width:300px;}
.css_num_telefonecelular_line { }
.css_num_telefonecelular_obj { }
.css_end_logradouro_label {width:300px;}
.css_end_logradouro_line { }
.css_end_logradouro_obj { }
.css_end_complemento_label {width:300px;}
.css_end_complemento_line { }
.css_end_complemento_obj { }
.css_end_bairro_label {width:300px;}
.css_end_bairro_line { }
.css_end_bairro_obj { }
.css_end_cidade_label {width:300px;}
.css_end_cidade_line { }
.css_end_cidade_obj { }
.css_end_uf_label {width:300px;}
.css_end_uf_line { }
.css_end_uf_obj { }
.css_end_cep_label {width:300px;}
.css_end_cep_line { }
.css_end_cep_obj { }
.css_criadopor_label { }
.css_criadopor_line {text-align:left;}
.css_criadopor_obj {text-align:left;}
.css_cargo_label { }
.css_cargo_line { }
.css_cargo_obj { }
.css_departamento_label { }
.css_departamento_line { }
.css_departamento_obj { }
.css_criado_em_label { }
.css_criado_em_line { }
.css_criado_em_obj { }
.css_alterado_em_label { }
.css_alterado_em_line { }
.css_alterado_em_obj { }
.css_removido_em_label { }
.css_removido_em_line { }
.css_removido_em_obj { }
.css_diasinatividade_label { }
.css_diasinatividade_line {text-align:left;}
.css_diasinatividade_obj {text-align:left;}
.css_agendadatajson_label { }
.css_agendadatajson_line { }
.css_agendadatajson_obj { }
.css_empreendimento_label { }
.css_empreendimento_line { }
.css_empreendimento_obj { }
.css_gbttecempreendimentos_label { }
.css_gbttecempreendimentos_line { }
.css_gbttecempreendimentos_obj { }
.css_operadora_label {width:300px;}
.css_operadora_line { }
.css_operadora_obj { }
.css_pass_label {width:300px;}
.css_pass_line { }
.css_pass_obj { }
.css_pass_confirm_label {width:300px;}
.css_pass_confirm_line { }
.css_pass_confirm_obj { }
.css_prestadora_label {width:300px;}
.css_prestadora_line { }
.css_prestadora_obj { }
.css_removeronclick_label { }
.css_removeronclick_line { }
.css_removeronclick_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
