.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_id_prsa_label { }
.css_id_prsa_line {text-align:left;}
.css_id_prsa_obj {text-align:left;}
.css_tipo_prsa_label { }
.css_tipo_prsa_line { }
.css_tipo_prsa_obj { }
.css_arquivos_label {width:300px;}
.css_arquivos_line { }
.css_arquivos_obj { }
.css_id_empreendimento_label { }
.css_id_empreendimento_line { }
.css_id_empreendimento_obj {text-align:right;}
.css_path_label { }
.css_path_line { }
.css_path_obj { }
