.css_nom_contato_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_contato_grid_line {vertical-align: top;text-align: left;}
.css_num_telefone1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_num_telefone1_grid_line {vertical-align: top;text-align: left;}
.css_nom_emailcontato1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nom_emailcontato1_grid_line {vertical-align: top;text-align: left;}
.css_id_tipocontato_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_tipocontato_grid_line {vertical-align: top;text-align: left;}
