.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_prestador_label { }
.css_id_prestador_line {text-align:left;}
.css_id_prestador_obj {text-align:left;}
.css_id_operadora_label { }
.css_id_operadora_line {text-align:left;}
.css_id_operadora_obj {text-align:left;}
.css_nom_contato1_label { }
.css_nom_contato1_line { }
.css_nom_contato1_obj { }
.css_nom_email1_label { }
.css_nom_email1_line { }
.css_nom_email1_obj { }
.css_num_telefone1_label { }
.css_num_telefone1_line { }
.css_num_telefone1_obj { }
.css_end_logradouro_label {width:300px;}
.css_end_logradouro_line { }
.css_end_logradouro_obj { }
.css_end_numero_label {width:300px;}
.css_end_numero_line {text-align:left;}
.css_end_numero_obj {text-align:left;}
.css_end_complemento_label {width:300px;}
.css_end_complemento_line { }
.css_end_complemento_obj { }
.css_end_bairro_label {width:300px;}
.css_end_bairro_line { }
.css_end_bairro_obj { }
.css_end_cidade_label {width:300px;}
.css_end_cidade_line { }
.css_end_cidade_obj { }
.css_end_uf_label {width:300px;}
.css_end_uf_line { }
.css_end_uf_obj { }
.css_end_cep_label {width:300px;}
.css_end_cep_line { }
.css_end_cep_obj { }
.css_img_logo_label {width:300px;}
.css_img_logo_line { }
.css_img_logo_obj { }
.css_num_totvs_label {width:300px;}
.css_num_totvs_line { }
.css_num_totvs_obj { }
.css_num_ativo_label { }
.css_num_ativo_line { }
.css_num_ativo_obj { }
.css_tipo_og_label { }
.css_tipo_og_line { }
.css_tipo_og_obj { }
.css_simplesnacional_label { }
.css_simplesnacional_line { }
.css_simplesnacional_obj { }
.css_contribuicoesfederais_label { }
.css_contribuicoesfederais_line { }
.css_contribuicoesfederais_obj { }
.css_nom_razaosocial_label {width:30px;}
.css_nom_razaosocial_line { }
.css_nom_razaosocial_obj { }
.css_num_cnpj_label {width:300px;}
.css_num_cnpj_line { }
.css_num_cnpj_obj { }
.css_contatosframe_label { }
.css_contatosframe_line { }
.css_contatosframe_obj { }
.css_remover_label { }
.css_remover_line { }
.css_remover_obj { }
.css_savedataonclick_label { }
.css_savedataonclick_line { }
.css_savedataonclick_obj { }
.css_tecnicosframe_label { }
.css_tecnicosframe_line { }
.css_tecnicosframe_obj { }
